.titulo {
  font-size: 38px;
  margin: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 403px;
  height: 212px;
  object-fit: cover;
  object-position: center;
}

.ver-mais-btn {
  background-color: #FFD95A;
  color: #2C2B2B;
  border: none;
  border-radius: 23px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  width: 176px;
  height: 43px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
}

.card {
  width: 403px;
  /* height: 261.64px; */
  background-color: #F5F2F2;
  border-radius: 23px;
  overflow: hidden;
}

.card-content {
  padding: 24px 38px;
}

.card-content > p {
  width: 327px;
  font-size: 20px;
  margin: 22px 0 41px 0;
}

